<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>基于RBAC的CRM系统</title>
  <link rel="stylesheet" href="layui/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">基于RBAC的CRM系统</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
      <li class="layui-nav-item"><a href="">控制台</a></li>
      <li class="layui-nav-item"><a href="">商品管理</a></li>
      <li class="layui-nav-item"><a href="">用户</a></li>
      <li class="layui-nav-item">
        <a href="javascript:;">其它系统</a>
        <dl class="layui-nav-child">
          <dd><a href="">邮件管理</a></dd>
          <dd><a href="">消息管理</a></dd>
          <dd><a href="">授权管理</a></dd>
        </dl>
      </li>
    </ul>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;">
          <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
         ${user.realname}
        </a>
        <dl class="layui-nav-child">
          <dd><a href="">修改资料</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item"><a href="logout">退了</a></li>
    </ul>
  </div>
  
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      
	 	<!-- 遍历用户中的角色属性 -->
		<ul class="layui-nav layui-nav-tree"  lay-filter="test">
			<#list user.roles as role>
				<#list role.permissions as permission>
				
				   <!-- 生成一级菜单 -->
					<#if !permission.parent??>
					 	<li class="layui-nav-item layui-nav-itemed">
					 		<a href="JavaScript:;">${permission.name}</a>
					 	
						 	<!--生成二级菜单,再次将所有的内容进行遍历  -->
						 	<dl class="layui-nav-child">
						 		<#list user.roles as role_son>
						 			<#list role_son.permissions as permission_son>
						 				<#if permission_son.parent?? && permission.id=permission_son.parent>
						 					<dd><a href="JavaScript:;" onclick="showView('${permission_son.url}')">${permission_son.name}</a></dd>
						 				</#if>
						 			</#list>
						 		</#list>
						 	</dl>
					 	</li>
				 	</#if>
				</#list>
			</#list>
		</ul>
    </div>
  </div>
  <div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;" class="view">内容主体区域</div>
  </div>
  
  <div class="layui-footer">
    <!-- 底部固定区域 -->
    © layui.com - 底部固定区域
  </div>
</div>
<script src="../layui/layui.js"></script>
<script>
//JavaScript代码区域
layui.use('element', function(){
  var element = layui.element;
  //引用layui内部的jQuery,但是只能在内部使用
  //如何在外部使用jQuery
  //将局部变量变成全局变量
  //$不适用var就变成了全局变量，全局变量在整个页面中都可以访问
  $=layui.$;

});

function showView(url){
	//通过ajax去访问url，然后再将url返回的值放入内容主题区域中
	$.ajax({
		url:url,
		data:{},
		type:"get",//这里要获取的是页面，所以使用get
		dataType:"html",//获取到的页面
		success:function(data){
			//成功时，将data中的值放入内容主题区域中
			$(".view").html(data);
		},
		error:function(){
			alert("error");
		}
		
		
		
	});
	
	
	
}

</script>
</body>
</html>





