<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.st.crm.mapper.PermissionMapper">
	<!-- 获取所有的一级权限 -->
	<select id="selectAll"
	resultType="com.st.crm.pojo.SysPermission">
	
	select * from sys_permission where parent is null
	
	</select>
	<!-- 添加权限 -->
	<insert id="insert"
	parameterType="com.st.crm.pojo.SysPermission">
	
	insert into sys_permission
	(url,type,name,permission,parent)
	value(#{url},#{type},#{name},#{permission},#{parent})
	
	</insert>
	<!-- 查询所有的权限信息 -->
	<select id="select"
	resultType="com.st.crm.pojo.SysPermission">
	select perOne.*,perTow.name as perTowName 
	from sys_permission as perOne
	LEFT JOIN sys_permission as perTow
	on perOne.parent = perTow.id 
	</select>
	<!-- 根据权限的id获取权限的信息 -->
	<select id="selectById"
	resultType="com.st.crm.pojo.SysPermission">
	select perOne.*,perTow.name as perTowName 
	from sys_permission as perOne
	LEFT JOIN sys_permission as perTow
	on perOne.parent = perTow.id 
	where perOne.id = #{id}
	</select>
	<!-- 通过parent和id查询权限信息 -->
	<select id="selectByParent"
	resultType="com.st.crm.pojo.SysPermission">
	select * from sys_permission where parent=#{parent} and id = #{id}
	</select>
	<!-- 修改权限的信息 -->
	<update id="update"
	parameterType="com.st.crm.pojo.SysPermission">
	
	update sys_permission set url=#{url},type=#{type},name=#{name},permission=#{permission},parent=#{parent}
		
	where id = #{id}
	
	</update>
	<!-- 删除权限的信息 -->
	<delete id="delete">
	
	delete from sys_permission where id = #{id}
	
	</delete>

</mapper>
