<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.st.crm.mapper.UserRoleMapper">
	<!-- 根据用户的id查询角色的信息 -->
	<select id="selectRole"
	resultType="map">
	
	select * from sys_user_role 
	where user_id = #{user_id}
	
	</select>
	
	<delete id="deleteRole">
	
	delete from sys_user_role where user_id = #{user_id}
	
	</delete>
	
	<!-- 根据用户的id，添加角色信息 -->
	
	<insert id="insertRole">
	insert into sys_user_role (role_id,user_id) values
	<foreach collection="role_ids" item="role_id" separator=",">
	(#{role_id},#{user_id})
	</foreach>
	
	
	</insert>
	
	
</mapper>
